<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{ 'ADDRESSES' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="isShowingGap = true" *ngIf="!isShowingGap">
        <ion-icon name="eye-off"></ion-icon>
      </button>
      <button ion-button icon-only (click)="isShowingGap = false" *ngIf="isShowingGap">
        <ion-icon name="eye"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content no-bounce>
  <ion-toolbar color="primary">
    <ion-searchbar id="addresses-page-search-bar" placeholder="" (ionInput)="updateFilter($event)"></ion-searchbar>
    <ion-segment [(ngModel)]="type" color="light">
      <ion-segment-button value="receive">
        {{ 'RECEIVE' | translate }}
      </ion-segment-button>
      <ion-segment-button value="change">
        {{ 'CHANGE' | translate }}
      </ion-segment-button>
      <ion-segment-button value="unspent">
        {{ 'UNSPENT' | translate }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="type">

    <ion-list *ngSwitchCase="'receive'" no-lines>
      <ion-item *ngFor="let addr of receiveAddrs" (click)="pushAddressPage(addr)" [class.gap-addr]="addr.isGap" [attr.hidden]="addr.isGap && !isShowingGap ? '' : null">
        <span>{{ '/' + addr.path[0] + '/' + addr.path[1] }}</span>
        <span>{{ addr.address }}</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'change'" no-lines>
      <ion-item *ngFor="let addr of changeAddrs" (click)="pushAddressPage(addr)" [class.gap-addr]="addr.isGap" [attr.hidden]="addr.isGap && !isShowingGap ? '' : null">
        <span>{{ '/' + addr.path[0] + '/' + addr.path[1] }}</span>
        <span>{{ addr.address }}</span>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'unspent'" no-lines>
      <ion-item *ngFor="let addr of unspentAddrs" (click)="pushAddressPage(addr)">
        <span>{{ '/' + addr.path[0] + '/' + addr.path[1] }}</span>
        <span>{{ addr.address }}</span>
        <span item-end>{{ addr.balance }}</span>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
