<!-- Generated template for the MyAmountComponent component -->
<ion-item>
  <ion-label stacked color="primary">{{ label || ('AMOUNT' | translate) }}</ion-label>
  <ion-input
    #amount
    type="number"
    [placeholder]="placeholder || ''"
    [readonly]="fixedAmount ? '' : null"
    (input)="amountInput($event)"
    (ionChange)="amountChange($event)"
    (ionFocus)="isTyping = true"
    (ionBlur)="isTyping = false"></ion-input>
    <button
      *ngIf="!fixedAmount && isTyping"
      class="custom-clear-btn"
      ion-button clear item-end icon-only color="dark"
      (touchstart)="clear()"
      (mousedown)="clear()">
      <ion-icon name="close"></ion-icon>
    </button>
    <button ion-button outline item-end (click)="changeUnit()">
      {{ wallet.getPreferredUnit() }}
    </button>
</ion-item>
