.platform-ios page-home {
  ion-header, ion-content[style=""] {
    opacity: 1;

    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  ion-header[transparent], ion-content[style][transparent] {
    opacity: 0;
  }
  & + .nav-decor {
    background-color: transparent !important;
  }
  .toolbar-ios ion-title {
    padding: 0 70px 1px;
  }
}

.platform-android page-home {
  ion-header, ion-content {
    opacity: 1;

    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  ion-header[transparent], ion-content[transparent] {
    opacity: 0;
  }
}

page-home {

  ion-header > ion-navbar > div.toolbar-background {
    background-color: transparent !important;
  }

  ion-content {
    background-image: linear-gradient(to top right, #004e32, #009261);
  }

  ion-fab.main-fab>button {
    color: white;
  }
  .align-center {
    text-align: center;
  }
  .address {
    font-size: 1.2rem;
  }

  .flex-container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  .quick-send-chip-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
  }

  .quick-send-chip {
    background-color: color($colors, light);
  }

  .quick-send-chip[elevated] {
    bottom: 81px;
  }

  .camera-field {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    // min-height: 100px;
    color: white;
  }

  .send-field {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    // min-height: 100px;
    color: white;
  }

  .send-btn {
    bottom: 15px;
    right: 15px;
    right: calc(15px + constant(safe-area-inset-right));
    right: calc(15px + env(safe-area-inset-right));
  }

  .send-btn[elevated] {
    bottom: 71px;
  }

  .balance-container {
    color: white;
    text-align: center;
    margin: 20px 0;
  }

  .balance-container > div:not(:last-child) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .qrcode-container {

  }

  .handle-container {
    text-align: center;
    div {
      padding: 20px 0;
      display: inline-block;
      color: white;
    }
  }

  .request-amount {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

  .request-amount > my-amount .item-md.item-block .item-inner {
    border-bottom: 0;
    box-shadow: none !important;
  }

  .request-amount > my-amount .item-ios.item-block .item-inner {
    border-bottom: 0;
  }

  .qrcode {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }

  .custom-footer {
    left: 0;
    bottom: 0;
    position: fixed;
    display: block;
    width: 100%;
  }
}
