.platform-ios page-home {
  ion-header {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  ion-header[transparent] {
    -webkit-transform: translateY(-64px);
    transform: translateY(-64px);
  }
  ion-content[style=""] {
    opacity: 1;

    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  ion-content[style][transparent] {
    opacity: 0;
  }
  & + .nav-decor {
    background-color: transparent !important;
  }
}

.platform-android page-home {
  ion-header {
    -webkit-transform: translateY(0);
    transform: translateY(0);

    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
  }
  ion-header[transparent] {
    -webkit-transform: translateY(-76px);
    transform: translateY(-76px);
  }
  ion-content {
    opacity: 1;

    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
  }
  ion-content[transparent] {
    opacity: 0;
  }
}

page-home {
  ion-fab.main-fab>button {
    color: white;
  }
  .align-center {
    text-align: center;
  }
  .address {
    font-size: 1.2rem;
  }

  .quick-send-toolbar {
    position: relative;
    width: 100%;
  }

  .quick-send-toolbar-title {
    text-align: center;
    background-color: color($colors, light);
    padding-top: 14px;
  }

  .camera-btn {
    margin: 0;
    min-height: 76px;
    box-shadow: none;
  }

  .qrcode {
    width: 100%;
    max-width: 200px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
  }

  .custom-footer {
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    display: block;
    width: 100%;
  }
}
