<!-- <ion-content no-bounce> -->

  <ion-list no-lines no-margin>
    <ion-item (click)="pushHistoryPage($event)">
      <ion-icon name="logo-bitcoin" item-end [attr.notify]="wallet.getUnseenTxids().length > 0 ? '' : null"></ion-icon>
      {{ 'HISTORY' | translate }}
    </ion-item>
    <ion-item (click)="pushSendPage($event)" *ngIf="platform.is('cordova')">
      <ion-icon name="paper-plane" item-end></ion-icon>
      {{ 'SEND' | translate }}
    </ion-item>
    <!-- <ion-item>
      <ion-label>{{ 'CHAIN' | translate }}</ion-label>
      <ion-select [(ngModel)]="chain" (ionChange)="setChain()">
        <ion-option *ngFor="let sc of supportedChains" [value]="sc">{{ sc }}</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <ion-label>{{ 'CRYPTO_UNIT' | translate }}</ion-label>
      <ion-select [(ngModel)]="cryptoUnit" (ionChange)="setCryptoUnit()" [disabled]="isLeaving">
        <ion-option *ngFor="let su of supportedCryptoUnits" [value]="su">{{ su }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'CURRENCY' | translate }}</ion-label>
      <ion-select [(ngModel)]="currency" (ionChange)="setCurrency()" [disabled]="isLeaving">
        <ion-option *ngIf="supportedCurrencies.length === 0" [value]="currency">{{ currency }}</ion-option>
        <ion-option *ngFor="let curr of supportedCurrencies" [value]="curr">{{ curr }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PROTECTION' | translate }}</ion-label>
      <ion-select [(ngModel)]="protection" (ionChange)="setProtection()" [disabled]="isLeaving">
        <ion-option *ngFor="let p of supportedProtections" [value]="p">{{ p | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'WALLET' | translate }}</ion-label>
      <ion-select [(ngModel)]="currentWallet" (ionChange)="setCurrentWallet()" [disabled]="isLeaving">
        <ion-option *ngFor="let w of allWallets" [value]="w">{{ w }}</ion-option>
      </ion-select>
    </ion-item>
    <!-- <ion-item>
      <ion-label>CashAddr</ion-label>
      <ion-toggle [(ngModel)]="useCashAddr" (ionChange)="setAddressFormat()"></ion-toggle>
    </ion-item> -->
    <ion-item (click)="pushMorePage($event)">{{ 'MORE' | translate }}...</ion-item>
  </ion-list>

<!-- </ion-content> -->
