<!-- <ion-content> -->

  <ion-list no-lines no-margin>
    <ion-item (click)="pushHistoryPage($event)">
      <ion-icon name="logo-bitcoin" item-end [attr.notify]="wallet.getUnseenTxids().length > 0 ? '' : null"></ion-icon>
      {{ 'BALANCE' | translate }}
    </ion-item>
    <ion-item (click)="pushSendPage($event)">
      <ion-icon name="paper-plane" item-end></ion-icon>
      {{ 'SEND' | translate }}
    </ion-item>
    <ion-item>
      <ion-label>{{ 'CRYPTO_UNIT' | translate }}</ion-label>
      <ion-select [(ngModel)]="cryptoUnit" (ionChange)="setCryptoUnit()">
        <ion-option *ngFor="let su of supportedCryptoUnits" [value]="su">{{ su }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'CURRENCY' | translate }}</ion-label>
      <ion-select [(ngModel)]="currency" (ionChange)="setCurrency()">
        <ion-option *ngIf="supportedCurrencies.length === 0" [value]="currency">{{ currency }}</ion-option>
        <ion-option *ngFor="let curr of supportedCurrencies" [value]="curr">{{ curr }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'PROTECTION' | translate }}</ion-label>
      <ion-select [(ngModel)]="protection" (ionChange)="setProtection()">
        <ion-option *ngFor="let p of supportedProtections" [value]="p">{{ p | translate }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>CashAddr</ion-label>
      <ion-toggle [(ngModel)]="useCashAddr" (ionChange)="setAddressFormat()"></ion-toggle>
    </ion-item>
    <!-- <ion-item *ngIf="canUseFingerprint">
      <ion-label>fingerprint</ion-label>
      <ion-toggle [(ngModel)]="useFingerprint" (ionChange)="setFingerprint()"></ion-toggle>
    </ion-item> -->
    <ion-item (click)="pushMorePage($event)">{{ 'MORE' | translate }}...</ion-item>
  </ion-list>

<!-- </ion-content> -->
