<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{ 'HISTORY' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="wallet.isConnecting() || wallet.isSyncing()">
        <ion-spinner color="light"></ion-spinner>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce>
  <ion-list no-lines>
    <ion-item>
      <button ion-button outline (click)="changeUnit()">
        {{ currentUnit }}
      </button>
      <span class="balance-span" item-end>{{ balance.toString() | convertUnitPipe:currentUnit:'comma' }}</span>
    </ion-item>
    <ion-item-group *ngFor="let dateGroup of dateGroups">
      <ion-item-divider *ngIf="dateGroup.date === today()" color="light">{{ 'TODAY' | translate }}</ion-item-divider>
      <ion-item-divider *ngIf="dateGroup.date !== today()" color="light">{{ dateGroup.date }}</ion-item-divider>
      <ion-item *ngFor="let tx of dateGroup.txs" (click)="showTx(tx.txid)" [attr.unseen]="tx.seen ? null : ''">
        <span>{{ tx.time }}</span>
        <span item-end [attr.class]="tx.delta > 0 ? 'pdelta' : 'ndelta'">{{ tx.delta.toString() | convertUnitPipe:currentUnit:'comma' }}</span>
      </ion-item>
    </ion-item-group>
    <!-- <ion-item *ngFor="let tx of txs" (click)="showTx(tx)">
      <span>{{ tx.date }}</span>
      <span item-end>{{ tx.value }}</span>
    </ion-item> -->
  </ion-list>
</ion-content>
