page-history {
  .balance-span {
    font-size: 3rem;
  }
  .pdelta {
    color: green;
  }
  .pdelta:not(:empty):before {
    content: "+";
  }
  .ndelta {

  }
  ion-item[unseen] {
    font-weight: bold;
  }
  ion-item-divider {
    border-bottom: 0 !important;
  }
}
