page-history {
  .balance-span {
    font-size: 3rem;
  }
  .pdelta {
    color: green;
  }
  .pdelta:not(:empty):before {
    content: "+";
  }
  .ndelta {

  }
  .balance-span, .pdelta, .ndelta {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70%;
  }
  ion-item[unseen] {
    font-weight: bold;
  }
  ion-item-divider {
    border-bottom: 0 !important;
  }
}
