page-send {
  .align-center {
    text-align: center;
  }
  .quick-send-hint {
    color: #999999;
  }
  .warn-bip70-unverified {
    color: color($colors, danger);
  }
  .qrcode {
    width: 100%;
    max-width: 200px;
  }
  div.qrdiv:last-child {
    margin-bottom: 50px;
  }
}
