<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{ 'SEND' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngIf="labelValue">
      <ion-label stacked color="primary">{{ 'LABEL' | translate }}</ion-label>
      <ion-input
        value="{{ labelValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="messageValue">
      <ion-label stacked color="primary">{{ 'MESSAGE' | translate }}</ion-label>
      <ion-input
        value="{{ messageValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="!info || !info.bip70">
      <ion-label stacked color="primary">{{ 'BITCOIN_CASH_ADDRESS' | translate }}</ion-label>
      <ion-input
        #address
        value="{{ addressValue }}"
        type="text"
        [readonly]="addressValue ? '' : null"
        [clearInput]="addressValue ? false : true"></ion-input>
    </ion-item>
    <ion-item *ngIf="rValue">
      <ion-label stacked color="primary">{{ 'REQUEST_ORIGIN' | translate }}</ion-label>
      <ion-input
        value="{{ rValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="merchantValue">
      <ion-label stacked color="primary">{{ 'RECIPIENT' | translate }}</ion-label>
      <ion-input
        value="{{ merchantValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="memoValue">
      <ion-label stacked color="primary">{{ 'MEMO' | translate }}</ion-label>
      <ion-input
        value="{{ memoValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <my-amount #myAmount placeholder="{{ 'MAX_AMOUNT_HINT' | translate }}"></my-amount>
  </ion-list>

  <div text-center>
    <button ion-button clear icon-left (click)="sign()">
      <ion-icon name="create"></ion-icon>
      {{ 'SIGN' | translate }}
    </button>
  </div>

</ion-content>
