<ion-header no-border (click)="dummyFunction()">

  <ion-navbar color="primary">
    <ion-title *ngIf="allWallets.length > 1">{{ currentWallet }}</ion-title>
    <ion-title *ngIf="allWallets.length === 1">{{ 'SEND' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button *ngIf="wallet.isConnecting()">
        <ion-spinner color="light"></ion-spinner>
      </button>
      <button *ngIf="allWallets.length > 1" ion-button icon-only (click)="selectWallet.open()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content no-bounce (click)="dummyFunction()">

  <ion-list>
    <ion-item hidden>
      <ion-label>{{ 'WALLET' | translate }}</ion-label>
      <ion-select #selectWallet [(ngModel)]="currentWallet" (ionChange)="setCurrentWallet()">
        <ion-option *ngFor="let w of allWallets" [value]="w">{{ w }}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="labelValue">
      <ion-label stacked color="primary">{{ 'LABEL' | translate }}</ion-label>
      <ion-input
        value="{{ labelValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="messageValue">
      <ion-label stacked color="primary">{{ 'MESSAGE' | translate }}</ion-label>
      <ion-input
        value="{{ messageValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="!info || !info.bip70 && !info.isBitcoinOut">
      <ion-label stacked color="primary">{{ 'BITCOIN_CASH_ADDRESS' | translate }}</ion-label>
      <ion-input
        #address
        value="{{ addressValue }}"
        type="text"
        (paste)="sp_handlePaste($event)"
        [readonly]="addressValue ? '' : null"></ion-input>
      <button *ngIf="!addressValue" ion-button icon-only clear item-end (tap)="selectFromContacts()">
        <ion-icon name="contacts"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="rValue">
      <ion-label stacked color="primary">{{ 'REQUEST_ORIGIN' | translate }}</ion-label>
      <ion-input
        value="{{ rValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="merchantValue">
      <ion-label stacked color="primary">{{ 'RECIPIENT' | translate }}</ion-label>
      <ion-input
        value="{{ merchantValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <ion-item *ngIf="memoValue">
      <ion-label stacked color="primary">{{ 'MEMO' | translate }}</ion-label>
      <ion-input
        value="{{ memoValue }}"
        type="text"
        readonly></ion-input>
    </ion-item>
    <my-amount #myAmount [showMaxAmount]="true"></my-amount>
  </ion-list>

  <div text-center>
    <button ion-button clear icon-left *ngIf="!canLeave || !wallet.isOnline()" disabled>
      <ion-icon name="paper-plane"></ion-icon>
      {{ 'SEND' | translate }}
    </button>
    <button ion-button clear icon-left (click)="send()" *ngIf="canLeave && wallet.isOnline()">
      <ion-icon name="paper-plane"></ion-icon>
      {{ 'SEND' | translate }}
    </button>
  </div>

  <div *ngIf="info.bip70 && !info.verified" class="warn-bip70-unverified" padding>
    {{ 'WARN_BIP70_UNVERIFIED' | translate }}
  </div>

  <div *ngIf="showQuickSendHint" class="quick-send-hint" padding>
    {{ 'QUICK_SEND_HINT' | translate }}
  </div>

  <p *ngIf="qrCodeURLs && qrCodeURLs.length > 0" text-center>{{ 'SCAN_WITH_COLD' | translate }}</p>

  <div class="qrdiv" *ngFor="let qrCodeURL of qrCodeURLs; let i = index" text-center>
    <p *ngIf="qrCodeURLs.length > 1" >{{ i + 1 }}/{{ qrCodeURLs.length }}:</p>
    <img class="qrcode" [src]="qrCodeURL"/>
  </div>

</ion-content>
