page-confirm {
  .align-center {
    text-align: center;
  }
  .divider {
    margin-top: 30px;
  }
  .qrcode {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    display: block;
  }
}
