<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{ "CONFIRM" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item *ngIf="info.label">
      <ion-label stacked color="primary">{{ 'LABEL' | translate }}</ion-label>
      <ion-input
        value="{{ info.label }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="info.message">
      <ion-label stacked color="primary">{{ 'MESSAGE' | translate }}</ion-label>
      <ion-input
        value="{{ info.message }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="!info.bip70">
      <ion-label stacked color="primary">{{ 'BITCOIN_CASH_ADDRESS' | translate }}</ion-label>
      <ion-input
        #address
        value="{{ info.outputs[0].address }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="info.r">
      <ion-label stacked color="primary">{{ 'REQUEST_ORIGIN' | translate }}</ion-label>
      <ion-input
        value="{{ info.r }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="info.merchantName">
      <ion-label stacked color="primary">{{ 'RECIPIENT' | translate }}</ion-label>
      <ion-input
        value="{{ info.merchantName }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item *ngIf="info.memo">
      <ion-label stacked color="primary">{{ 'MEMO' | translate }}</ion-label>
      <ion-input
        value="{{ info.memo }}"
        type="text"
        readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">{{ 'AMOUNT' | translate }}</ion-label>
      <ion-input
        value="{{ info.satoshis | convertUnitPipe:unit }}"
        readonly></ion-input>
        <button ion-button outline item-end (click)="changeUnit()">
          {{ unit }}
        </button>
    </ion-item>

    <ion-item>
      <ion-label stacked color="primary">{{ 'FEE' | translate }}</ion-label>
      <ion-input
        value="{{ info.fee | convertUnitPipe:unit }}"
        readonly></ion-input>
    </ion-item>

  </ion-list>
  <div class="divider"></div>
  <div class="align-center">
    <button *ngIf="!info.paymentUrl"
      class="send-btn"
      ion-button icon-left color="secondary"
      [disabled]="!isReady || !wallet.isOnline()"
      (click)="broadcast($event)"
      clear>
      <ion-icon name="checkmark"></ion-icon>
      {{ 'BROADCAST' | translate }}
    </button>
    <button *ngIf="info.paymentUrl"
      class="send-btn"
      ion-button icon-left color="secondary"
      [disabled]="!isReady || !wallet.isOnline()"
      (click)="sendBIP70($event)"
      clear>
      <ion-icon name="checkmark"></ion-icon>
      {{ 'SEND' | translate }}
    </button>
  </div>

</ion-content>
